@import '../variables';

.betWrapper {
  display: flex;
  align-items: center;
}

.bet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;


  &__token {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: $color-black;
    background-color: rgb(150, 150, 150);
    box-shadow: 0 0 20px 0 $color-dark;
    border: 8px solid rgb(0, 0, 0);
    border-radius: 50%;
    font-size: $font-size-m;
  }

  &__value {
    align-self: center;
    margin-top: 10px;
    padding: 3px 20px;
    background-color: rgb(20, 20, 20);
    font-size: $font-size-m;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 $color-dark;
  }

  &__deal {
    margin-left: 30px;
    padding: 6px 30px;
    background-color: rgb(20, 20, 20);
    font-size: $font-size-l;
    border-radius: 4px;
    text-transform: uppercase;
    transition: .2s;
    box-shadow: 0 0 15px 0 $color-dark;

    &:hover {
      color: $color-white;
      cursor: pointer;
      transform: scale(1.1);
      box-shadow: 0 0 15px 0 $color-main-light;
    }
  }
}