@import '../../../variables';

.info {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  transform: translate(-50%, -50%);
  background-color: rgb(20, 20, 20);
  border-radius: 20px;
  font-size: $font-size-xs;
  overflow: auto;

  &__header {
    color: $color-main-light;
    margin: 30px 10px 10px;
    font-size: $font-size-s;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid $color-main-light;
  }

  &__close {
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 0 5px;
    color: $color-black;
    background-color: rgb(200, 200, 200);
    border: none;
    border-radius: 3px;
    font-size: $font-size-m;
    font-weight: 700;
    outline: none;
  }

  &__link {
    color: inherit;
  }

  &__spaceParagraph {
    margin-bottom: 10px;
  }
}

@media(min-height: 700px) {

  .info__header {
    margin: 10px 40px 20px;
  }
}

@media(min-width: 800px) {

  .info__header {
    font-size: $font-size-m;
  }
}

@media(min-width: 1024px) {

  .info {
    width: 70%;
    padding: 20px 40px;
    font-size: $font-size-s;

    &__header {
      margin: 10px 20px 20px;
      font-size: $font-size-xl;
    }

    &__close {
      top: 5%;
      right: 2%;
      border-radius: 6px;
      transition: transform .1s;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }

      &:active {
        transform: scale(1);
      }
    }

    &__link:hover {
      color: $color-white;
    }

    &__spaceParagraph {
      margin-bottom: 20px;
    }
  }
}