@import '../../../variables';

.info {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  transform: translate(-50%, -50%);
  background-color: rgb(20, 20, 20);
  border-radius: 20px;

  &__header {
    color: $color-main-light;
    margin: 10px 20px 20px;
    font-size: $font-size-xl;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid $color-main-light;
  }

  &__close {
    position: absolute;
    top: 5%;
    right: 2%;
    padding: 0 5px;
    color: $color-black;
    background-color: rgb(200, 200, 200);
    border: none;
    border-radius: 6px;
    font-size: $font-size-m;
    font-weight: 700;
    transition: transform .1s;
    outline: none;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    &:active {
      transform: scale(1);
    }
  }

  &__link {
    color: inherit;

    &:hover {
      color: $color-white;
    }
  }

  &__spaceParagraph {
    margin-bottom: 20px;
  }
}