@import '../../variables';

.actionsWrapper {
  display: flex;
  justify-content: center;
  flex-grow: 1;

  &__action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-right: 25px;
    color: $color-black;
    box-shadow: 0 0 20px 0 $color-dark;
    border-radius: 50%;
    font-family: $font-family-default;
    font-size: $font-size-m;
    text-transform: uppercase;
    transition: transform .3s;
    outline: none;

    &:hover {
      transform: scale(1.1);
      font-weight: bold;
      cursor: pointer;
    }

    &:nth-child(1) {
      border: 3px solid rgb(80, 80, 80);
      background-color: hsl(115, 30%, 70%);
      box-shadow: 0 0 8px 4px hsl(115, 40%, 44%);

      &:hover {
        background-color: hsl(115, 40%, 70%);
        box-shadow: 0 0 8px 10px hsl(115, 40%, 44%);
      }
    }

    &:nth-child(2) {
      border: 3px solid rgb(80, 80, 80);
      background-color: hsl(0, 30%, 63%);
      box-shadow: 0 0 8px 4px hsl(0, 54%, 47%);

      &:hover {
        background-color: hsl(0, 40%, 63%);
        box-shadow: 0 0 15px 10px hsl(0, 54%, 47%);
      }
    }

    &:nth-child(3) {
      border: 3px solid rgb(80, 80, 80);
      background-color: hsl(50, 42%, 56%);
      box-shadow: 0 0 8px 4px hsl(50, 76%, 48%);
      text-align: center;

      &:hover {
        background-color: hsl(50, 50%, 56%);
        box-shadow: 0 0 15px 8px hsl(50, 76%, 48%);
      }
    }
  }
}