@import '../../../variables';

.roundHistoryWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  transform: translate(-50%, -50%);
  background-color: rgb(20, 20, 20);
  border-radius: 10px;

  &__header {
    color: $color-main-light;
    margin: 6px 0 10px;
    font-size: $font-size-m;
    text-align: center;
    border-bottom: 1px solid $color-main-light;
  }

  &__close {
    position: absolute;
    top: 4%;
    right: 2%;
    padding: 0 5px;
    color: $color-black;
    background-color: rgb(200, 200, 200);
    border: none;
    border-radius: 6px;
    font-size: $font-size-m;
    font-weight: 700;
    outline: none;
  }
}

.roundHistory {
  display: flex;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4px;
    list-style-type: none;
  }

  &__listItem {
    flex-basis: 50px;
    display: flex;
    align-items: center;
    padding: 5px 0;
    text-align: center;
    font-size: $font-size-xs;

    &_cards {
      display: none;
    }

    &:nth-child(1) {
      font-weight: 700;
    }
  }

  &__optionalDisplay {
    display: none;
  }

  &__card {
    width: 100%;
  }
}

@media(min-width:1024px) {

  .roundHistoryWrapper {
    padding: 20px 40px;
    border-radius: 20px;

    &__header {
      margin: 10px 0 20px;
      font-size: $font-size-xl;
      border-bottom: 3px solid $color-main-light;
    }

    &__close {
      transition: transform .1s;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  .roundHistory {

    &__list {
      padding: 0 10px;
      border-left: 1px solid rgba(255, 255, 255, .1);
      border-right: 1px solid rgba(255, 255, 255, .1);
    }

    &__listItem {
      flex-basis: 100px;
      padding: 10px 0;
      font-size: $font-size-s;

      &_cards {
        display: flex;
        align-self: flex-start;
      }
    }

    &__optionalDisplay {
      display: flex;
    }

    &__cardsWrapper {
      width: 50px;
      padding: 0 3px;
      transition: transform .3s;

      &:hover {
        transform: scale(2.2);
        cursor: pointer;
      }
    }
  }
}