@import '../../variables';

.backgroundTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  color: $color-dark;
  text-transform: uppercase;

  &__text {
    font-weight: 300;
  }

  &__betInfo {
    color: $color-main-light;
    font-size: $font-size-xxl;
    margin-top: 150px;
    text-shadow: 0 0 20px $color-black;
  }
}

.noSelect {
  user-select: none;
}