@import '../../variables';

.backgroundTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  color: $color-dark;
  text-transform: uppercase;

  &__text {
    font-weight: 300;
  }
}

.noSelect {
  user-select: none;
}