@import '../../variables';

.tokensWrapper {
  display: flex;
  justify-content: center;
  flex-grow: 1;


  &__token {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    color: $color-black;
    box-shadow: 0 0 20px 0 $color-dark;
    border-radius: 50%;
    font-family: $font-family-default;
    font-size: $font-size-m;
    transition: transform .3s;
    outline: none;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      font-weight: bold;
    }

    &_5 {

      background-color: rgb(106, 117, 175);
      border: 8px solid rgb(36, 54, 143);
    }

    &_10 {
      background-color: rgb(112, 175, 106);
      border: 8px solid rgb(45, 143, 36);
    }

    &_25 {

      background-color: rgb(175, 163, 106);
      border: 8px solid rgb(173, 150, 31);
    }

    &_100 {
      background-color: rgb(175, 106, 106);
      border: 8px solid rgb(143, 36, 36);
    }

    &_allIn {
      text-transform: uppercase;
      background-color: rgb(130, 130, 130);
      border: 8px solid rgb(0, 0, 0);
    }
  }

  &__allIn {
    font-size: $font-size-xl;
    text-shadow: 0 0 10px $color-black;
  }
}