@import '../../variables';

.bet {

  display: flex;
  align-items: center;

  &__token {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: $color-black;
    background-color: rgb(150, 150, 150);
    box-shadow: 0 0 20px 0 $color-dark;
    border: 8px solid rgb(0, 0, 0);
    border-radius: 50%;
    font-size: $font-size-m;
    font-weight: 700;
  }

  &__deal {
    margin-left: 50px;
    padding: 6px 30px;
    color: $color-main-light;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 4px;
    font-family: $font-family-default;
    font-size: $font-size-l;
    text-transform: uppercase;
    transition: .2s;
    box-shadow: 0 0 15px 0 $color-dark;
    outline: none;

    &:hover {
      color: $color-white;
      cursor: pointer;
      transform: scale(1.1);
      box-shadow: 0 0 15px 0 $color-main-light;
    }

    &:active {
      transform: scale(1)
    }
  }
}