@import '../../variables';

.bet {

  align-self: flex-end;
  display: flex;
  align-items: center;
  user-select: none;

  &__tokenWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
  }

  &__header {
    font-size: $font-size-l;
    text-shadow: 3px 3px 10px $color-black;
    text-transform: uppercase;
  }

  &__token {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    color: $color-black;
    background-color: rgb(150, 150, 150);
    box-shadow: 0 0 20px 0 $color-dark;
    border: 8px solid rgb(0, 0, 0);
    border-radius: 50%;
    font-size: $font-size-m;
    font-weight: 700;
  }

  &__cancel {
    margin-top: 10px;
    padding: 5px 10px;
    color: $color-main-light;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 4px;
    font-family: $font-family-default;
    font-size: $font-size-xs;
    text-transform: uppercase;
    transition: .2s;
    box-shadow: 0 0 15px 0 $color-dark;
    outline: none;

    &:hover {
      color: $color-black;
      background-color: rgb(150, 150, 150);
      font-weight: 700;
      cursor: pointer;
    }

    &:active {
      transform: scale(.9);
    }
  }

  &__deal {
    padding: 6px 30px;
    color: $color-main-light;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 4px;
    font-family: $font-family-default;
    font-size: $font-size-l;
    text-transform: uppercase;
    transition: .2s;
    box-shadow: 0 0 15px 0 $color-dark;
    outline: none;

    &:hover {
      color: $color-white;
      transform: scale(1.1);
      box-shadow: 0 0 15px 0 $color-main-light;
      cursor: pointer;
    }

    &:active {
      transform: scale(1);
    }
  }
}