@import '../../variables';

.bet {

  align-self: flex-end;
  display: flex;
  align-items: center;
  user-select: none;

  &__tokenWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
  }

  &__header {
    font-size: $font-size-m;
    text-shadow: 2px 2px 6px $color-black;
    text-transform: uppercase;
  }

  &__token {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: $color-black;
    background-color: rgb(150, 150, 150);
    box-shadow: 0 0 10px 0 $color-dark;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
    font-size: $font-size-xs;
    font-weight: 700;
  }

  &__cancel {
    margin-top: 6px;
    padding: 3px 6px;
    color: $color-main-light;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 4px;
    font-family: $font-family-default;
    font-size: $font-size-xxs;
    text-transform: uppercase;
    box-shadow: 0 0 8px 0 $color-dark;
    outline: none;
  }

  &__deal {
    padding: 3px 15px;
    color: $color-main-light;
    background-color: rgb(20, 20, 20);
    border: none;
    border-radius: 4px;
    font-family: $font-family-default;
    font-size: $font-size-m;
    text-transform: uppercase;
    box-shadow: 0 0 8px 0 $color-dark;
    outline: none;
  }
}

@media(max-height: 420px) {
  .bet {

    &__header {
      font-size: $font-size-s;
    }

    &__token {
      width: 40px;
      height: 40px;
      font-size: $font-size-xxs;
    }
  }
}

@media(min-width:800px) {

  .bet {

    &__tokenWrapper {
      margin-left: 20px;
    }

    &__header {
      font-size: $font-size-m;
      text-shadow: 3px 3px 10px $color-black;
    }

    &__token {
      width: 60px;
      height: 60px;
      box-shadow: 0 0 20px 0 $color-dark;
      border: 5px solid rgb(0, 0, 0);
      font-size: $font-size-s;
    }

    &__cancel {
      margin-top: 10px;
      padding: 5px 10px;
      box-shadow: 0 0 15px 0 $color-dark;
      font-size: $font-size-xxs;
    }

    &__deal {
      padding: 4px 25px;
      font-size: $font-size-m;
      box-shadow: 0 0 15px 0 $color-dark;
    }
  }
}

@media(min-width:1024px) {

  .bet {

    &__header {
      font-size: $font-size-l;
    }

    &__token {
      width: 90px;
      height: 90px;
      border: 8px solid rgb(0, 0, 0);
      font-size: $font-size-m;
    }

    &__cancel {
      transition: .2s;

      &:hover {
        color: $color-black;
        background-color: rgb(150, 150, 150);
        font-weight: 700;
        cursor: pointer;
      }

      &:active {
        transform: scale(.9);
      }
    }

    &__cancel {
      font-size: $font-size-xs;
    }

    &__deal {
      padding: 6px 30px;
      font-size: $font-size-l;
      transition: .2s;

      &:hover {
        color: $color-white;
        transform: scale(1.1);
        box-shadow: 0 0 15px 0 $color-main-light;
        cursor: pointer;
      }

      &:active {
        transform: scale(1);
      }
    }
  }
}