@import '../../variables';

.resultWrapper {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px 70px;
  background-color: rgba(0, 0, 0, .9);
  border-radius: 15px;

  &__header {
    font-size: $font-size-l;
    text-transform: uppercase;

    &_big {
      font-size: $font-size-xxl;
    }
  }

  &__nextRound {
    padding: 10px 20px;
    color: $color-main-light;
    background-color: rgba(0, 0, 0, .9);
    border: none;
    border-radius: 10px;
    font-family: $font-family-default;
    font-size: $font-size-m;
    text-transform: uppercase;
    transition: .3s;
    outline: none;

    &:hover {
      color: $color-black;
      background-color: $color-main-light;
      cursor: pointer;
    }
  }
}