@import '../../variables';

.resultWrapper {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px 30px;
  background-color: $color-black;
  border-radius: 8px;

  &__header {
    font-size: $font-size-s;
    text-transform: uppercase;
    text-align: center;

    &_big {
      font-size: $font-size-m;
    }
  }

  &__nextGame {
    padding: 5px 10px;
    color: $color-main-light;
    background-color: $color-black;
    border: none;
    border-radius: 6px;
    font-family: $font-family-default;
    font-size: $font-size-s;
    text-transform: uppercase;
    outline: none;
  }
}

@media(min-width:1024px) {

  .resultWrapper {
    bottom: 5%;
  }

  .result {
    margin-bottom: 10px;
    padding: 20px 70px;
    border-radius: 15px;

    &__header {
      font-size: $font-size-l;

      &_big {
        font-size: $font-size-xl;
      }
    }

    &__nextGame {
      padding: 10px 20px;
      border-radius: 10px;
      font-size: $font-size-m;
      transition: .3s;

      &:hover {
        color: $color-black;
        background-color: $color-main-light;
        cursor: pointer;
      }
    }
  }
}