@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

$font-family-default: 'Roboto Mono',
monospace;

$font-size-xs: 1.4rem;
$font-size-s: 1.6rem;
$font-size-m: 2.0rem;
$font-size-l: 2.8rem;
$font-size-xl: 3.6rem;
$font-size-xxl: 4.2rem;

$color-background-primary: rgba(55, 126, 41, .85);
$color-background-secondary: rgb(12, 31, 14);
$color-main-light: rgb(220, 220, 220);
$color-dark: rgba(20, 20, 20, .6);
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-dark-hover: rgba(0, 0, 0, .4);