@import '../variables';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-size-xs;
  text-transform: uppercase;
  user-select: none;

  &__credit {
    text-align: center;
  }
}

@media(min-width:800px) {

  .footer {
    font-size: $font-size-m;
  }
}