@import '../../variables';

.player {
  display: flex;
  justify-content: center;

  &__cardsValue {
    align-self: center;
    margin-left: 50px;
    padding: 3px 20px;
    background-color: rgb(20, 20, 20);
    border-radius: 4px;
    box-shadow: 0 0 10px 0 $color-dark;
    font-size: $font-size-m;
  }
}