@import '../variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  background: $color-background-primary;
  background: radial-gradient(circle, $color-background-primary 0%, $color-background-secondary 100%);
  color: $color-main-light;
  font-family: $font-family-default;
  font-size: 1.6rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 30px;
}

.noSelect {
  user-select: none;
}